body {
  color: #fff;
}

.choice-container {
  display: flex;
  margin-bottom: 12px;
  width: 100%;
  border-radius: 4px;
  background: rgb(92, 92, 92);
  font-size: 32px;
  min-width: 75px;
}

.choice-prefix {
  padding: 32px 40px;
  color: rgb(0, 0, 0);
}

.choice-text {
  padding: 32px;
  width: 100%;
}

.correct {
  background: linear-gradient(green);
}

.incorrect {
  background: linear-gradient(red);
}

#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  color: black;
  text-align: center;
  font-size: 32px;
}

.hud-main-text {
  text-align: center;
}

#progressBar {
  width: 320px;
  height: 48px;
  border: 3px limegreen;
  margin-top: 32px;
  border-radius: 50px;
  overflow: hidden;
}

#progressBarFull {
  height: 100%;
  background: limegreen;
  width: 0%;
}

@media screen and (max-width: 750px) {
  .choice-container {
    min-width: 640px;
  }
}
